In [346]:
import numpy as np
import pandas as pd
import math
from numpy.linalg import inv

In [347]:
# Read the Excel file
#basecase = pd.ExcelFile('C:\\Users\\jingy\\Documents\\EE454Lab\\system_basecase.xlsx')
# khai's file location
basecase = pd.ExcelFile("C:\\Users\\kayla\\OneDrive - UW\\EE 454\\myrepo\\EE454Project\\system_basecase.xlsx")

# Read the busdata sheet
busdata = pd.read_excel(basecase, 'BusData')
# Read the linedata sheet
linedata = pd.read_excel(basecase, 'LineData')

# Convert to numpy arrays for later use
busdata_np = np.array(busdata)
linedata_np = np.array(linedata)

# # print data to test if it reads correctly
#print("Bus Data:", busdata_np.shape)
pd.DataFrame(busdata_np)

     0     1     2  3   4      5
0    1   0.0   0.0  S   0   1.04
1    2  20.1  12.5  D   0    1.0
2    3  45.2  16.0  G  42  1.025
3    4  60.8  10.9  D   0    1.0
4    5   7.6  -1.6  D   0    1.0
5    6  13.5   8.5  D   0    1.0
6    7  33.5  11.6  D   0    1.0
7    8   9.0   5.8  D   0    1.0
8    9   4.3   2.1  G  23   1.02
9   10   5.2   1.6  G  27   1.02
10  11  13.5   5.8  D   0    1.0
11  12  14.9   5.0  G  33   1.03

In [348]:
num_buses = len(busdata_np)
#initialize variables for buses
V_mag = busdata_np[:, 5]
V_ang = np.zeros(num_buses) #radians
busnum = busdata_np[:,0]
P_Load = busdata_np[:, 1]
Q_Load = busdata_np[:, 2]
P_Gen = busdata_np[:, 4]
bus_type = busdata_np[:, 3]

slack = None
PQind = []
PVind = []

for i in range(num_buses):


    # initialize V based on bus type
    if bus_type[i] == 'S':
        slack = i
    elif bus_type[i] == 'G':
        PVind.append(i)
    elif bus_type[i] == 'D':
        PQind.append(i)

In [349]:
print("Line Data:")
pd.DataFrame(linedata_np)

Line Data:

       0     1        2        3       4       5
0    1.0   2.0  0.01938  0.05917  0.0528    95.0
1    1.0   5.0  0.05203  0.20304  0.0492   100.0
2    2.0   3.0  0.04699  0.19797  0.0438  9999.0
3    2.0   4.0  0.05811  0.17632  0.0340  9999.0
4    2.0   5.0  0.05695  0.07388  0.0346  9999.0
5    3.0   4.0  0.67010  0.17103  0.0128  9999.0
6    4.0   5.0  0.01335  0.04211  0.0391  9999.0
7    4.0   7.0  0.00000  0.55618  0.0000  9999.0
8    5.0   6.0  0.00000  0.25202  0.0000  9999.0
9    6.0   9.0  0.09498  0.19890  0.0176  9999.0
10   6.0  10.0  0.12291  0.25581  0.0267  9999.0
11   6.0  11.0  0.06615  0.13027  0.0310  9999.0
12   7.0   8.0  0.03181  0.08450  0.0410  9999.0
13   7.0  12.0  0.12711  0.27038  0.0323  9999.0
14   8.0   9.0  0.08205  0.19207  0.0260  9999.0
15  10.0  11.0  0.22092  0.19988  0.0190  9999.0
16  11.0  12.0  0.17093  0.34802  0.0360  9999.0

In [350]:
frombuses = linedata_np[:,0].astype(int)
tobuses = linedata_np[:,1].astype(int)
print(frombuses)

Rt = linedata_np[:,2]
Xt = linedata_np[:,3]
Bsh = linedata_np[:,4]

[ 1  1  2  2  2  3  4  4  5  6  6  6  7  7  8 10 11]

In [351]:
def create_Y_matrix(busdata, linedata):

    # Initialize the admittance matrix Y with all zeros
    Y = np.zeros((num_buses, num_buses), dtype=complex)

    # Process each line
    for line in linedata:
        # Get the bus number also take account the 0 index based numbering
        from_bus = int(line[0]) - 1
        to_bus = int(line[1]) - 1
        R = line[2]
        X = line[3]
        # Get the half-line shunt susceptance
        B_shunt = line[4] / 2

        Z = complex(R, X)
        # Get the line admittance
        Y_line = 1 / Z

        # Add each admittance component to the matrix
        Y[from_bus, from_bus] += Y_line + complex(0, B_shunt)
        Y[to_bus, to_bus] += Y_line + complex(0, B_shunt)
        Y[from_bus, to_bus] -= Y_line
        Y[to_bus, from_bus] -= Y_line

    # (commented out as optional) 
    # Get the conductance (G) and susceptance (B) seperately
#     G = np.real(Y)
#     B = np.imag(Y)

    return Y

In [352]:
# Get the admittence matrix
Y = create_Y_matrix(busdata_np, linedata_np)
G = np.real(Y)
B = np.imag(Y)
print("Admittance Matrix:\n")

pd.DataFrame(Y)

Admittance Matrix:

,0,1,2,3,4,5,6,7,8,9,10,11
0,6.183452-19.833736j,-4.999132+15.263087j,0.000000+0.000000j,0.000000+0.000000j,-1.1843210+4.6216500j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j
1,-4.999132+15.263087j,14.364990-33.568623j,-1.135019+4.781863j,-1.686033+5.115838j,-6.5448060+8.4904350j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j
2,0.000000+0.000000j,-1.1350190+4.7818630j,2.536066-5.111153j,-1.401047+0.357590j,0.0000000+0.0000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j
3,0.000000+0.000000j,-1.6860330+5.1158380j,-1.401047+0.357590j,9.928061-28.807011j,-6.840981+21.578554j,0.000000+0.000000j,0.000000+1.797979j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j
4,-1.184321+4.621650j,-6.5448060+8.4904350j,0.000000+0.000000j,-6.840981+21.578554j,14.570107-38.597128j,0.000000+3.967939j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j
5,0.000000+0.000000j,0.0000000+0.0000000j,0.000000+0.000000j,0.000000+0.000000j,0.0000000+3.9679390j,6.579923-17.303083j,0.000000+0.000000j,0.000000+0.000000j,-1.955029+4.094074j,-1.525967+3.175964j,-3.098927+6.102755j,0.000000+0.000000j
6,0.000000+0.000000j,0.0000000+0.0000000j,0.000000+0.000000j,0.000000+1.797979j,0.0000000+0.0000000j,0.000000+0.000000j,5.326055-15.155774j,-3.902050+10.365394j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,-1.424005+3.029050j
7,0.000000+0.000000j,0.0000000+0.0000000j,0.000000+0.000000j,0.000000+0.000000j,0.0000000+0.0000000j,0.000000+0.000000j,-3.902050+10.365394j,5.782934-14.734838j,-1.880885+4.402944j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j
8,0.000000+0.000000j,0.0000000+0.0000000j,0.000000+0.000000j,0.000000+0.000000j,0.0000000+0.0000000j,-1.955029+4.094074j,0.000000+0.000000j,-1.880885+4.402944j,3.835913-8.475218j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j
9,0.000000+0.000000j,0.0000000+0.0000000j,0.000000+0.000000j,0.000000+0.000000j,0.0000000+0.0000000j,-1.525967+3.175964j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,4.014992-5.405089j,-2.489025+2.251975j,0.000000+0.000000j
10,0.000000+0.000000j,0.0000000+0.0000000j,0.000000+0.000000j,0.000000+0.000000j,0.0000000+0.0000000j,-3.098927+6.102755j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,-2.489025+2.251975j,6.724946-10.626694j,-1.136994+2.314963j
11,0.000000+0.000000j,0.0000000+0.0000000j,0.000000+0.000000j,0.000000+0.000000j,0.0000000+0.0000000j,0.000000+0.000000j,-1.424005+3.029050j,0.000000+0.000000j,0.000000+0.000000j,0.000000+0.000000j,-1.136994+2.314963j,2.561000-5.309864j

In [353]:
print("Vmag:" + str(V_mag))
print("Vang:" + str(V_ang))

Vmag:[1.04 1.0 1.025 1.0 1.0 1.0 1.0 1.0 1.02 1.02 1.0 1.03]
Vang:[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [354]:
#formulas in textbook are written as 1 being Slack, 2 to m being PV (gen), and m+1 to N being PQ 

def Pmismatches (vpu, G, B, theta, pgen, pload):
    
    #initialize array
    Pmis = np.zeros(num_buses)
    
    #for each bus...
    for k in range(num_buses):
        
        #initialize a sum for all buses
        sum = 0
        for i in range(num_buses):
            sum +=  vpu[i]*vpu[k]*(G[k, i]*math.cos(theta[k]-theta[i])+B[k, i]*
                                   math.sin((theta[k]-theta[i]))) 
            
        #add sum to load-gen (divided by 100 M for per-unit value) for each bus
        Pmis[k] = sum + pload[k]/100. - pgen[k]/100.
        
    return Pmis


def Qmismatches (vpu, G, B, theta, qload):
    #initialize array

    Qmis = np.zeros(num_buses)
    
    #for each bus...
    for k in range(num_buses):
        sum = 0
        
        #initialize a sum for all buses

        for i in range(num_buses):
            sum +=  vpu[i]*vpu[k]*(G[k, i]*math.sin((theta[k]-theta[i]))-B[k, i]*
                                   math.cos((theta[k]-theta[i])))
        
        #add sum to load (divided by 100 M for per-unit value) for each bus

        Qmis[k] = sum  + qload[k]/100.
        
    return Qmis

In [355]:
print(Pmismatches(V_mag, G, B, V_ang, P_Gen, P_Load))
print(Qmismatches(V_mag, G, B, V_ang, Q_Load))

[ 0.25723161 -0.02734074  0.09698669  0.57297383  0.02862718  0.06538008
  0.29227984  0.0523823  -0.10874737 -0.13609416  0.05110968 -0.10186511]
[ 0.77204344 -0.68767004  0.2619658   0.05711025 -0.262316   -0.09805077
 -0.01152151 -0.06355887  0.17165845  0.10295681 -0.0994884   0.1789003 ]

In [356]:
#mostly done ? 
def HMatrix (G, B, vpu, theta):
    #HMatrix will iterate P(row) from buses 2 to N and theta(col) from buses 2 to N
    
    #rows and cols are the index numbers of buses to be iterated
    rows = np.arange(1, num_buses, dtype=int)
    cols = np.arange(1, num_buses, dtype=int)
  
    
    #empty H array
    H = np.zeros((len(rows), len(cols)))
    
    #r represents the 
    r = 0 
    
    for k in rows:
        sum = 0
        c = 0
        matchBus = False
        matchCol = None
        
        for i in range(0, num_buses):
            

            
            
            
            if (i != k and i in cols):
                H[r,c] = vpu[k]*vpu[i]*(G[k, i]*math.sin((theta[k]-theta[i]))-B[k, i]*
                                            math.cos((theta[k]-theta[i])))
#                 print("H has been printed at " + str(r) + " " + str(c))
            elif (i == k and i in cols):
                    matchBus = True
                    matchCol = c
                
                
            if (i != k):
                sum += vpu[k]*vpu[i]*(-1*G[k, i]*math.sin((theta[k]-theta[i]))+B[k, i]*
                                            math.cos((theta[k]-theta[i])))
            
            if i in cols:
                c += 1
                
            
                
        if (matchBus):     
        
            H[r,matchCol] = sum
        
        r += 1
        
    return H

In [357]:
def MMatrix (G, B, vpu, theta):
    #MMatrix will iterate P(row) from buses 2 to N and V(col) for PQ buses
    
    #rows and cols are the index numbers of buses to be iterated
    rows = np.arange(1, num_buses, dtype=int)
    cols = PQind
    
    
    #optional check for index values
#     print("rows" + str(rows))
#     print("cols" + str(cols))
    
    #empty M array
    M = np.zeros((len(rows), len(cols)))
    
    
    r = 0 
    
    for k in rows:
        sum = 0
        c = 0
        
        matchBus = False
        matchCol = None
        
        #print("k is " + str(k))
        #print("hrow is " + str(hr))
        for i in range(0, num_buses):
            
            
            #print("i is " + str(i) + "and mcol is " + str(c))

            
            
            
            if (i != k and i in cols):
                M[r,c] = vpu[k]*(G[k, i]*math.cos((theta[k]-theta[i]))+B[k, i]*
                                            math.sin((theta[k]-theta[i])))
#                 print("M has been printed at " + str(r) + " " + str(c))
            elif (i == k and i in cols):
                    matchBus = True
                    matchCol = c
                    
                
            if (i != k):
                sum += vpu[i]*(G[k, i]*math.cos((theta[k]-theta[i]))+B[k, i]*
                                            math.sin((theta[k]-theta[i])))
            
            if i in cols:
                c += 1
                
        if (matchBus):     
        
            M[r,matchCol] = 2*G[k, k]*vpu[k] + sum
        
        r += 1
        
    return M

In [358]:
def NMatrix (G, B, vpu, theta):
    #NMatrix will iterate Q(row) for PQ buses and theta(col) for PQ and PV buses
    
    #rows and cols are the index numbers of buses to be iterated
    rows = PQind
    cols = np.arange(1, num_buses, dtype=int)
    
    #optional check for index values
#     print("rows" + str(rows))
#     print("cols" + str(cols))
    
    #empty N array
    N = np.zeros((len(rows), len(cols)))
    
    
    r = 0 
    
    for k in rows:
        sum = 0
        c = 0
        
        matchBus = False
        matchCol = None
#         print("k is " + str(k))
        #print("hrow is " + str(hr))
        for i in range(0, num_buses):
            
#             print("i is " + str(i) + "and Ncol is " + str(c))

            
            
            
            if (i != k and i in cols):
                N[r,c] = vpu[k]*vpu[i]*(-1*G[k, i]*math.cos((theta[k]-theta[i]))-B[k, i]*
                                            math.sin((theta[k]-theta[i])))
#                 print("N has been printed at " + str(r) + " " + str(c))
            elif (i == k and i in cols):
                    matchBus = True
                    matchCol = c     
            
                
            if (i != k):
                sum += vpu[k]*vpu[i]*(G[k, i]*math.cos((theta[k]-theta[i]))+B[k, i]*
                                            math.sin((theta[k]-theta[i])))
            
            if i in cols:
                c += 1
                
        if (matchBus):     
        
            N[r,matchCol] = sum
        
        r += 1
        
    return N

In [359]:
def LMatrix (G, B, vpu, theta):
    #LMatrix will iterate Q(row) for PQ buses and V(col) for PQ buses
    
    #rows and cols are the index numbers of buses to be iterated
    rows = PQind
    cols = PQind
    
    #optional check for index values
#     print("rows" + str(rows))
#     print("cols" + str(cols))
    
    #empty L array
    L = np.zeros((len(rows), len(cols)))
    
    
    r = 0 
    
    for k in rows:
        sum = 0
        c = 0
        
        matchBus = False
        matchCol = None
        
        #print("k is " + str(k))
        #print("hrow is " + str(hr))
        for i in range(0, num_buses):
            
            #print("i is " + str(i) + "and lcol is " + str(c))

            
            
            
            if (i != k and i in cols):
                L[r,c] = vpu[k]*(G[k, i]*math.sin((theta[k]-theta[i]))-B[k, i]*
                                            math.cos((theta[k]-theta[i])))
#                 print("L has been printed at " + str(r) + " " + str(c))

            elif (i == k and i in cols):
                    matchBus = True
                    matchCol = c
                    
            if (i != k):
                sum += vpu[i]*(G[k, i]*math.sin((theta[k]-theta[i]))-B[k, i]*
                                            math.cos((theta[k]-theta[i])))
            
            if i in cols:
                c += 1
                
        if (matchBus):     
        
            L[r,matchCol] =  -2*B[k, k]*vpu[k] + sum
        
        r += 1
        
    return L

In [360]:
def build_jacobian(G, B, vpu, theta):
    mat1 = np.concatenate((HMatrix(G, B, vpu, theta),NMatrix(G, B, vpu, theta)), axis=0)
    mat2 = np.concatenate((MMatrix(G, B, vpu, theta),LMatrix(G, B, vpu, theta)), axis=0)

    J = np.concatenate((mat1, mat2), axis=1)
    return J

In [361]:
J = build_jacobian(G, B, V_mag, V_ang)
pd.DataFrame(J)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,34.381293,-4.901410,-5.115838,-8.490435,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.136649,-1.686033,-6.544806,0.000000,0.000000,0.000000,0.000000
1,-4.901410,5.267939,-0.366530,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.163395,-1.436073,0.000000,0.000000,0.000000,0.000000,0.000000
2,-5.115838,-0.366530,28.858901,-21.578554,0.000000,-1.797979,0.000000,0.000000,0.000000,0.000000,0.000000,-1.686033,9.893034,-6.840981,0.000000,0.000000,0.000000,0.000000
3,-8.490435,0.000000,-21.578554,38.843444,-3.967939,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.544806,-6.840981,14.522734,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,-3.967939,17.486134,0.000000,0.000000,-4.175956,-3.239483,-6.102755,0.000000,0.000000,0.000000,0.000000,6.510303,0.000000,0.000000,-3.098927
5,0.000000,0.000000,-1.797979,0.000000,0.000000,15.283295,-10.365394,0.000000,0.000000,0.000000,-3.119922,0.000000,0.000000,0.000000,0.000000,5.283335,-3.902050,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,-10.365394,14.856397,-4.491003,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.902050,5.745317,0.000000
7,0.000000,0.000000,0.000000,0.000000,-4.175956,0.000000,-4.491003,8.666958,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.994129,0.000000,-1.918502,0.000000
8,0.000000,0.000000,0.000000,0.000000,-3.239483,0.000000,0.000000,0.000000,5.536497,-2.297014,0.000000,0.000000,0.000000,0.000000,-1.556487,0.000000,0.000000,-2.538805
9,0.000000,0.000000,0.000000,0.000000,-6.102755,0.000000,0.000000,0.000000,-2.297014,10.784182,-2.384412,0.000000,0.000000,0.000000,-3.098927,0.000000,0.000000,6.641056
10,0.000000,0.000000,0.000000,0.000000,0.000000,-3.119922,0.000000,0.000000,0.000000,-2.384412,5.504334,0.000000,0.000000,0.000000,0.000000,-1.466726,0.000000,-1.171104
11,-14.593330,1.163395,1.686033,6.544806,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,32.755953,-5.115838,-8.490435,0.000000,0.000000,0.000000,0.000000
12,1.686033,1.436073,-9.963087,6.840981,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-5.115838,28.755122,-21.578554,0.000000,-1.797979,0.000000,0.000000
13,6.544806,-0.000000,6.840981,-14.617480,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-8.490435,-21.578554,38.350812,-3.967939,0.000000,0.000000,0.000000
14,-0.000000,-0.000000,-0.000000,-0.000000,-6.649543,-0.000000,-0.000000,1.994129,1.556487,3.098927,-0.000000,0.000000,0.000000,-3.967939,17.120032,0.000000,0.000000,-6.102755
15,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,-5.368775,3.902050,-0.000000,-0.000000,-0.000000,1.466726,0.000000,-1.797979,0.000000,0.000000,15.028252,-10.365394,0.000000
16,-0.000000,-0.000000,-0.000000,-0.000000,-0.000000,3.902050,-5.820552,1.918502,-0.000000,-0.000000,-0.000000,0.000000,0.000000,0.000000,0.000000,-10.365394,14.613279,0.000000
17,-0.000000,-0.000000,-0.000000,-0.000000,3.098927,-0.000000,-0.000000,-0.000000,2.538805,-6.808836,1.171104,0.000000,0.000000,0.000000,-6.102755,0.000000,0.000000,10.469205

In [362]:
print(PQind)

[1, 3, 4, 5, 6, 7, 10]

In [403]:
def NR (vpu, G, B, theta, pgen, pload, qload):
    
    twoToN =  np.arange(1, num_buses, dtype=int)
    
    allPmis = Pmismatches(vpu, G, B, theta, pgen, pload)
    
    allQmis =  Qmismatches(vpu, G, B, theta, qload)
    
    newTheta = np.copy(theta)
    newV = np.copy(vpu)
    
    
#     firstPMismatch = allPmis[twoToN]
#     firstQMismatch = allQmis[PQind]
    
    
    
    currentPMismatch = allPmis
    currentQMismatch = allQmis
    
    print("P mismatch is " + str(currentPMismatch[twoToN]))
    print("Q mismatch is " + str(currentQMismatch[PQind]))

    notSmall = True

    while(notSmall):
        J = build_jacobian(G, B, newV, newTheta)
        delta = np.matmul(inv(J), np.concatenate((currentPMismatch[twoToN], currentQMismatch[PQind])))

#         print("delta is " + str(delta))
# #         print(delta[0:len(twoToN)])
# #         print(delta[len(twoToN):])


#         print("newV is " + str(newV) )

#         print("newT is " + str(newTheta))
        
        newTheta[twoToN] = newTheta[twoToN]-(delta[0:len(twoToN)])

        newV[PQind] = newV[PQind] - delta[len(twoToN):]

        
        currentPMismatch = Pmismatches(newV, G, B, newTheta, pgen, pload)
        currentQMismatch = Qmismatches(newV, G, B, newTheta, qload)

        print("P mismatch is " + str(currentPMismatch[twoToN]))
        print("Q mismatch is " + str(currentQMismatch[PQind]))
#         print("newV is " + str(newV) )

#         print("newT is " + str(newTheta) )

        if(np.all(np.abs(currentPMismatch[twoToN]) <= .001) and np.all(np.abs(currentQMismatch[PQind]) <= .001)):
            notSmall = False
            

    
    return newV, newTheta

In [404]:
newV, newTheta = NR(V_mag, G, B, V_ang, P_Gen, P_Load, Q_Load)

P mismatch is [-0.02734074  0.09698669  0.57297383  0.02862718  0.06538008  0.29227984
  0.0523823  -0.10874737 -0.13609416  0.05110968 -0.10186511]
Q mismatch is [-0.68767004  0.05711025 -0.262316   -0.09805077 -0.01152151 -0.06355887
 -0.0994884 ]
P mismatch is [ 0.01133931 -0.00117994 -0.01159527  0.00270448 -0.00043319  0.00246522
  0.00081176  0.00057529  0.00356329  0.00084786  0.00028913]
Q mismatch is [0.03437284 0.01099777 0.01991981 0.00273756 0.0037804  0.00276784
 0.0020708 ]
P mismatch is [ 3.64771495e-05  1.12056583e-05 -4.64315540e-05  1.49792516e-05
  1.24662650e-05  1.03116194e-05  1.92455380e-06  3.00183277e-06
  4.70142105e-06  2.82492694e-06  2.38799586e-06]
Q mismatch is [6.45525042e-05 3.84532046e-05 4.94129761e-05 8.57415795e-06
 7.76467056e-06 2.62413305e-06 1.37945419e-06]

In [405]:
pd.DataFrame(newV)

           0
0       1.04
1   1.023548
2      1.025
3   1.003778
4   1.012579
5   1.009502
6   0.993517
7   0.997423
8       1.02
9       1.02
10  1.007286
11      1.03

In [406]:
pd.DataFrame(newTheta)

           0
0   0.000000
1  -0.040128
2  -0.054542
3  -0.075502
4  -0.058795
5  -0.070665
6  -0.116411
7  -0.108529
8  -0.076169
9  -0.041617
10 -0.072952
11 -0.079281

In [367]:
def injectedP(vpu, theta, G, B):
    #initialize array
    Pinj = np.zeros(num_buses)
    
    #for each bus...
    for k in range(num_buses):
        
        #initialize a sum for all buses
        sum = 0
        for i in range(num_buses):
            sum +=  vpu[i]*vpu[k]*(G[k, i]*math.cos(theta[k]-theta[i])+B[k, i]*
                                   math.sin((theta[k]-theta[i]))) 
            
        Pinj[k] = sum 
        
    return Pinj

In [368]:
def injectedQ(vpu, theta, G, B):
    #initialize array

    Qinj = np.zeros(num_buses)
    
    #for each bus...
    for k in range(num_buses):
        sum = 0
        
        #initialize a sum for all buses

        for i in range(num_buses):
            sum +=  vpu[i]*vpu[k]*(G[k, i]*math.sin((theta[k]-theta[i]))-B[k, i]*
                                   math.cos((theta[k]-theta[i])))
        

        Qinj[k] = sum  
        
    return Qinj

In [401]:
def powerFlow (vpu, theta ):
    
    powerFlows = np.zeros((len(linedata_np),4))
    
    row = 0
    powerFlows[:,0] = frombuses
    powerFlows[:,1] = tobuses
    
    for line in linedata_np:
        
        R = line[2]
        X = line[3]
        B = line[4]/2.
        Yse = 1/(complex(R, X))
        Ysh = complex(0, B)
        vi = complex(vpu[int(line[0])-1]*math.cos(theta[int(line[0])-1]),vpu[int(line[0])-1]*math.sin(theta[int(line[0])-1]))
        print("vi for bus " + str(line[0]) + " is " + str(vi))
        vk = complex(vpu[int(line[1])-1]*math.cos(theta[int(line[1])-1]),vpu[int(line[1])-1]*math.sin(theta[int(line[1])-1]))
        print("vk for bus " + str(line[1]) + " is " + str(vk))
        
        iik = Yse*(vi-vk)+vi*Ysh
        print(str(Yse) + " * (vi - vk) + vi * " + str(Ysh) + " is " + str(iik))

        
        
        iki = Yse*(vk-vi)+vk*Ysh
        print(str(Yse) + " * (vk - vi) + vk * " + str(Ysh) + " is " + str(iki))
        powerFlows[row, 2] = abs(vi)*abs(iik)*100
        powerFlows[row, 3] = abs(vk)*abs(iki)*100
        
        row += 1
            
            
            
    return powerFlows

In [407]:
pf = powerFlow(newV, newTheta)
pd.DataFrame(pf)

vi for bus 1.0 is (1.04+0j)
vk for bus 2.0 is (1.0227241641702252-0.04106242037079471j)
(4.999131600798035-15.263086523179553j) * (vi - vk) + vi * 0.0264j is (0.7131034517974367-0.030950133749206556j)
(4.999131600798035-15.263086523179553j) * (vk - vi) + vk * 0.0264j is (-0.7120194038996478+0.0854060516833005j)
vi for bus 1.0 is (1.04+0j)
vk for bus 5.0 is (1.0108292191559733-0.05950000480676062j)
(1.1843205564007628-4.62164992834155j) * (vi - vk) + vi * 0.0246j is (0.30953574835132946-0.0387660583988722j)
(1.1843205564007628-4.62164992834155j) * (vk - vi) + vk * 0.0246j is (-0.30807204823308315+0.08921645719010915j)
vi for bus 2.0 is (1.0227241641702252-0.04106242037079471j)
vk for bus 3.0 is (1.0234757989061678-0.05587744673284012j)
(1.1350191923073958-4.781863151757718j) * (vi - vk) + vi * 0.0219j is (0.07088957580820475+0.04280721289817475j)
(1.1350191923073958-4.781863151757718j) * (vk - vi) + vk * 0.0219j is (-0.06876659271863514+0.0020045662931982566j)
vi for bus 2.0 is (1.0227241641702252-0.04106242037079471j)
vk for bus 4.0 is (1.0009181966275142-0.0757150779238904j)
(1.686033150614943-5.115838325872083j) * (vi - vk) + vi * 0.017j is (0.21474103890799523-0.035743964305402734j)
(1.686033150614943-5.115838325872083j) * (vk - vi) + vk * 0.017j is (-0.2127558214369856+0.0701458844389643j)
vi for bus 2.0 is (1.0227241641702252-0.04106242037079471j)
vk for bus 5.0 is (1.0108292191559733-0.05950000480676062j)
(6.544805792168066-8.490434625555341j) * (vi - vk) + vi * 0.0173j is (0.23510359020593585+0.03737028443216189j)
(6.544805792168066-8.490434625555341j) * (vk - vi) + vk * 0.0173j is (-0.23336386025036415-0.002189810900618667j)
vi for bus 3.0 is (1.0234757989061678-0.05587744673284012j)
vk for bus 4.0 is (1.0009181966275142-0.0757150779238904j)
(1.4010466990527597-0.35758993723174665j) * (vi - vk) + vi * 0.0064j is (0.03905560716257696+0.026277321227324103j)
(1.4010466990527597-0.35758993723174665j) * (vk - vi) + vk * 0.0064j is (-0.03821341500477388-0.013321199655908538j)
vi for bus 4.0 is (1.0009181966275142-0.0757150779238904j)
vk for bus 5.0 is (1.0108292191559733-0.05950000480676062j)
(6.840980661495671-21.578553981691588j) * (vi - vk) + vi * 0.01955j is (-0.41621871425448564+0.12250648376916091j)
(6.840980661495671-21.578553981691588j) * (vk - vi) + vk * 0.01955j is (0.41886216912186985-0.08317682179059373j)
vi for bus 4.0 is (1.0009181966275142-0.0757150779238904j)
vk for bus 7.0 is (0.9867931284398304-0.11539506751108197j)
-1.7979790715236075j * (vi - vk) + vi * 0j is (0.07134379083604511-0.02539657698529952j)
-1.7979790715236075j * (vk - vi) + vk * 0j is (-0.07134379083604511+0.02539657698529952j)
vi for bus 5.0 is (1.0108292191559733-0.05950000480676062j)
vk for bus 6.0 is (1.0069826390066725-0.07127713959008018j)
-3.967939052456154j * (vi - vk) + vi * 0j is (0.04673095303277344-0.015262995592813418j)
-3.967939052456154j * (vk - vi) + vk * 0j is (-0.04673095303277344+0.015262995592813418j)
vi for bus 6.0 is (1.0069826390066725-0.07127713959008018j)
vk for bus 9.0 is (1.017042531449014-0.07761758321270859j)
(1.9550285631772606-4.0940743442404415j) * (vi - vk) + vi * 0.0088j is (0.006918109327630104+0.0624431431627206j)
(1.9550285631772606-4.0940743442404415j) * (vk - vi) + vk * 0.0088j is (-0.0056078357669655625-0.04463172166271056j)
vi for bus 6.0 is (1.0069826390066725-0.07127713959008018j)
vk for bus 10.0 is (1.0191168063527503-0.04243742463169665j)
(1.525967440450974-3.1759639650294003j) * (vi - vk) + vi * 0.01335j is (-0.10915868994311596+0.007972430449138255j)
(1.525967440450974-3.1759639650294003j) * (vk - vi) + vk * 0.01335j is (0.1106767793754767+0.01907599714641004j)
vi for bus 6.0 is (1.0069826390066725-0.07127713959008018j)
vk for bus 11.0 is (1.004606855358947-0.07341807007393557j)
(3.0989274038379877-6.102755448193116j) * (vi - vk) + vi * 0.0155j is (0.02153275188972451+0.007743992450849387j)
(3.0989274038379877-6.102755448193116j) * (vk - vi) + vk * 0.0155j is (-0.019289976139932264+0.023435644711817714j)
vi for bus 7.0 is (0.9867931284398304-0.11539506751108197j)
vk for bus 8.0 is (0.991554847621587-0.10803673185479205j)
(3.9020495524474277-10.365394127060915j) * (vi - vk) + vi * 0.0205j is (-0.09248691451472696+0.040873764819925745j)
(3.9020495524474277-10.365394127060915j) * (vk - vi) + vk * 0.0205j is (0.09706726640172737-0.0003176313106666821j)
vi for bus 7.0 is (0.9867931284398304-0.11539506751108197j)
vk for bus 12.0 is (1.0267646875498762-0.08157374823192241j)
(1.424005487019931-3.0290504569306034j) * (vi - vk) + vi * 0.01615j is (-0.15750257177367682+0.08885083417903991j)
(1.424005487019931-3.0290504569306034j) * (vk - vi) + vk * 0.01615j is (0.16068361814792637-0.056331875450806146j)
vi for bus 8.0 is (0.991554847621587-0.10803673185479205j)
vk for bus 9.0 is (1.017042531449014-0.07761758321270859j)
(1.8808847537003996-4.402943749460521j) * (vi - vk) + vi * 0.013j is (-0.18046871878160317+0.06789613831383509j)
(1.8808847537003996-4.402943749460521j) * (vk - vi) + vk * 0.013j is (0.18288222487748068-0.041784372385917284j)
vi for bus 10.0 is (1.0191168063527503-0.04243742463169665j)
vk for bus 11.0 is (1.004606855358947-0.07341807007393557j)
(2.4890245868219187-2.251974626172212j) * (vi - vk) + vi * 0.0095j is (0.10628640774951867+0.054117156416648764j)
(2.4890245868219187-2.251974626172212j) * (vk - vi) + vk * 0.0095j is (-0.10518578054981516-0.03489178163038764j)
vi for bus 11.0 is (1.004606855358947-0.07341807007393557j)
vk for bus 12.0 is (1.0267646875498762-0.08157374823192241j)
(1.1369941578063267-2.314963475105352j) * (vi - vk) + vi * 0.018j is (-0.004991703438954646+0.07865045402455559j)
(1.1369941578063267-2.314963475105352j) * (vk - vi) + vk * 0.018j is (0.00778155616846009-0.042085766252196774j)

       0     1          2          3
0    1.0   2.0  74.232578  73.401023
1    1.0   5.0  32.443197  32.476478
2    2.0   3.0   8.476184   7.051570
3    2.0   4.0  22.282186  22.486749
4    2.0   5.0  24.366087  23.630972
5    3.0   4.0   4.824951   4.062163
6    4.0   5.0  43.551220  43.241256
7    4.0   7.0   7.601537   7.523834
8    5.0   6.0   4.977874   4.962749
9    6.0   9.0   6.342218   4.588230
10   6.0  10.0  11.048944  11.455487
11   6.0  11.0   2.310037   3.057462
12   7.0   8.0  10.046074   9.681766
13   7.0  12.0  17.966335  17.538001
14   8.0   9.0  19.232130  19.134679
15  10.0  11.0  12.165597  11.162931
16  11.0  12.0   7.938290   4.408309